@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,600|Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Montserrat', 'Sans-Serif'; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

@media screen and (max-width: 1024px) {
  body {
    background: none; } }

#wpadminbar .display-name {
  color: #7cb1ea; }

h1 {
  margin: 3em auto 1em;
  text-align: center; }
  @media screen and (max-width: 1024px) {
    h1 {
      margin: 2em auto 1em; } }

h2, h3, h4 {
  font-weight: 600;
  color: #7cb1ea;
  margin: 1.5em 0 0.75em; }

h1, h2, h3, h4 {
  font-family: 'Julius Sans One', 'sans-serif'; }
  h1 a, h2 a, h3 a, h4 a {
    text-decoration: none; }

p {
  margin: 1em 0;
  color: #333;
  text-align: justify;
  line-height: 1.4em; }
  p a {
    font-weight: 600; }
    p a:hover {
      color: #7cb1ea; }

blockquote {
  border-left: 7px double #7cb1ea;
  margin: 0.5em 1em 0 0.5em;
  padding: 0 1em; }
  blockquote p {
    margin: 0;
    font-style: italic; }

footer {
  padding: 0.5em 0 0.5em;
  width: 100%;
  background: #000;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.35em;
  position: fixed;
  bottom: 0; }
  footer a {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 600; }
    footer a:hover {
      color: #7cb1ea; }
  footer .copyright {
    color: #FFF;
    opacity: 0.5;
    font-size: 0.8em;
    transition: opacity 0.75s;
    font-weight: 300; }
    footer .copyright:hover {
      opacity: 1; }

@keyframes pop {
  0% {
    transform: translateY(25vh) scale(0); }
  100% {
    transform: translateY(0) scale(1); } }

.home {
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center; }
  .home .addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    display: none; }
  .home .a2a_kit.a2a_kit_size_32.a2a_floating_style.a2a_vertical_style {
    display: none; }
  @media screen and (max-width: 1366px) {
    .home {
      padding-top: 0;
      margin-top: 5vh; } }
  .home .content {
    font-size: 1em;
    color: #333;
    text-align: justify;
    width: 33%;
    margin: 2em auto 0; }
    @media screen and (max-width: 1024px) {
      .home .content {
        margin: 1em auto;
        width: 75%; } }
  .home .social .social-icon {
    margin: 4em 1em;
    width: 3.5em;
    height: 3.5em;
    cursor: pointer;
    transition: all 0.85s;
    filter: saturate(0);
    transform: scale(0);
    animation-name: pop;
    animation-duration: 500ms;
    animation-fill-mode: forwards; }
    .home .social .social-icon:hover {
      transform: scale(1.05);
      transform-origin: center;
      filter: saturate(7); }
    @media screen and (max-width: 1366px) {
      .home .social .social-icon {
        margin: 0 0.5em;
        width: 2.5em; } }
  .home .social a:nth-child(1) .social-icon {
    animation-delay: 1.5s; }
  .home .social a:nth-child(2) .social-icon {
    animation-delay: 1.7s; }
  .home .social a:nth-child(3) .social-icon {
    animation-delay: 1.8s; }
  .home .social a:nth-child(4) .social-icon {
    animation-delay: 2s; }
  .home footer {
    position: fixed;
    bottom: 0; }

.content {
  margin-bottom: 5em; }
  .content .picture {
    width: 100%; }

.a2a_svg svg {
  background: #000; }
  .a2a_svg svg:hover {
    background: rgba(0, 0, 0, 0.85); }

.addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
  display: none; }
  @media screen and (max-width: 600px) {
    .addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
      display: block;
      flex-basis: 100%;
      text-align: center; } }

.a2a_kit > * {
  transition: transform 0.25s, filter 0.25s; }

.a2a_kit > *:hover {
  transform: scale(1.35) rotateZ(360deg);
  filter: drop-shadow(0 0 2px #000) invert(80%); }

.a2a_floating_style a:hover .a2a_svg {
  opacity: 1 !important;
  z-index: 1000; }

.simple.page {
  display: block;
  padding: 0 25%; }
  .simple.page .addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    display: none; }
  .simple.page .a2a_kit.a2a_kit_size_32.a2a_floating_style.a2a_vertical_style {
    display: none; }
  .simple.page p {
    font-size: 0.9em; }
  .simple.page ul {
    padding-left: 2em;
    list-style-type: none; }
    .simple.page ul li {
      margin: 0.5em;
      font-size: 0.9em; }
      .simple.page ul li::before {
        content: "+";
        color: #7cb1ea;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        font-size: 1.4em;
        position: relative;
        top: 0.1em; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

@keyframes shake-simple {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(1px); }
  30%, 50%, 70% {
    transform: translateX(-1px); }
  40%, 60% {
    transform: translateX(1px); }
  100% {
    color: #7cb1ea; } }

ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  ol li {
    display: inline-block;
    margin: 0.25%;
    flex-basis: 49.5%;
    padding: 0.75em 0.5em;
    border: 1px solid #7cb1ea;
    transition: all 0.75s; }
    ol li:hover {
      border: 1px solid #888; }
      ol li:hover::before {
        color: #7cb1ea;
        transform: rotateZ(360deg); }
    ol li a {
      display: inline-block; }
      ol li a:hover {
        animation: shake-simple;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
        perspective: 1000px; }
    ol li::before {
      content: "+";
      display: inline-block;
      margin: 5px;
      transition: all 0.75s; }

.anchor-menu {
  margin: 1em 0;
  width: 100%;
  border-bottom: 1px solid #7cb1ea; }
  .anchor-menu p {
    display: inline; }
    .anchor-menu p::before {
      content: "Sommaire : ";
      font-weight: 600;
      font-family: 'Julius Sans One', 'sans-serif'; }
    .anchor-menu p a {
      display: inline-block;
      margin: 0 0.5em;
      text-decoration: none;
      border-bottom: 4px solid transparent;
      font-family: 'Julius Sans One', 'sans-serif';
      font-weight: 300; }
      .anchor-menu p a:hover {
        color: #000;
        border-bottom: 4px solid #7cb1ea; }

.alignleft {
  float: left;
  margin: 0 10px 10px 0; }

.alignright {
  float: right;
  margin: 0 0 10px 10px; }

.aligncenter {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto; }

@keyframes show {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateY(360deg); } }

@keyframes sliderot {
  0% {
    transform: translateX(-100vw) rotateZ(-720deg); }
  50% {
    transform: translateX(0); }
  100% {
    transform: translateX(0) rotateZ(0deg); } }

@keyframes slidefromleft {
  0% {
    transform: translateX(-50vw); }
  100% {
    transform: translateX(0); } }

@keyframes slidefromright {
  0% {
    transform: translateX(50vw); }
  100% {
    transform: translateX(0); } }

@keyframes slidefromtop {
  0% {
    opacity: 0;
    transform: translateY(-50vh); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes appearsfromleft {
  0% {
    opacity: 0;
    transform: translateX(-10vw); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes colorchange {
  0% {
    color: inherit; }
  100% {
    color: #7cb1ea; } }

header {
  text-align: center; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    header {
      margin-top: 10em; } }
  @media screen and (max-width: 600px) {
    header {
      margin-top: 0; } }
  header .logo {
    margin: 0;
    transform: translateX(-0.35em);
    font-size: 3.8em;
    font-weight: 200;
    font-family: 'Montserrat', monospace, sans-serif; }
    @media screen and (max-width: 600px) {
      header .logo {
        font-size: 1.8em;
        margin: 1.5em 0 0.5em; } }
    header .logo #plus, header .logo #new, header .logo #access, header .logo #compta {
      display: inline-block; }
    header .logo #plus {
      transform: translateX(-100vw);
      font-size: 2em;
      animation-name: sliderot;
      animation-duration: 600ms;
      animation-delay: 0.85s;
      animation-fill-mode: forwards;
      transition: color 0.75s;
      transition-delay: 0.15s; }
    header .logo #new {
      transform: translateX(70vw);
      animation-name: slidefromright;
      animation-duration: 500ms;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
      transition: color 0.75s;
      transition-delay: 1.2s; }
    header .logo #access {
      transform: translateY(-50vh);
      font-weight: 500;
      animation-name: slidefromtop;
      animation-duration: 400ms;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      transition: color 0.75s;
      transition-delay: 0.85s; }
    header .logo #compta {
      transform: translateX(50vw);
      animation-name: slidefromleft;
      animation-duration: 300ms;
      animation-delay: 0.35s;
      animation-fill-mode: forwards;
      transition: color 0.75s;
      transition-delay: 1.2s; }
    header .logo a {
      text-decoration: none; }
      header .logo a:hover * {
        transition-delay: 0.5s;
        color: #7cb1ea; }
  header .slogan {
    margin: 0;
    padding: 0 20%;
    color: #888;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    opacity: 0;
    transform: translateX(-10vw);
    animation-name: appearsfromleft;
    animation-duration: 600ms;
    animation-delay: 0.85s;
    animation-fill-mode: forwards; }
    @media screen and (max-width: 1366px) {
      header .slogan {
        font-size: 1.2em; } }
    @media screen and (max-width: 600px) {
      header .slogan {
        font-size: 0.95em; } }

@media screen and (max-width: 1366px) {
  .home {
    padding-top: 0;
    margin-top: 0;
    padding-top: 0; } }

@media screen and (max-width: 600px) {
  .home {
    display: block;
    margin-top: 5vh; } }

.home .logo {
  font-size: 4.8em;
  margin: 1em 0 0; }
  @media screen and (max-width: 1366px) {
    .home .logo {
      font-size: 3.75em;
      margin-top: 0; } }
  @media screen and (max-width: 1024px) {
    .home .logo {
      font-size: 3.5em;
      margin: 0; } }
  @media screen and (max-width: 600px) {
    .home .logo {
      font-size: 1.8em;
      margin: 0; } }

.home h1 {
  margin: 2em auto 0; }
  @media screen and (max-width: 1366px) {
    .home h1 {
      margin: 1em auto 0; } }

.home .content p {
  font-size: 1.3em;
  line-height: 1.2em; }
  @media screen and (max-width: 1366px) {
    .home .content p {
      font-size: 1.1em;
      line-height: 1.2em; } }
  @media screen and (max-width: 600px) {
    .home .content p {
      font-size: 1em;
      line-height: 1.1em; } }

#burger, #close {
  top: 20px;
  right: 20px;
  width: 30px;
  height: 23px;
  cursor: pointer; }

#burger {
  position: fixed;
  z-index: 10;
  background: url("../img/burger.svg"); }

#close {
  position: absolute;
  z-index: 30;
  background: url("../img/close.svg"); }

#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  width: 25%;
  height: 100%;
  padding: 1em;
  background: #000;
  transition: transform 0.5s;
  text-align: left;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40vh 35vh 25vh; }
  #menu #menu-menu-principal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; }
    #menu #menu-menu-principal li {
      margin: 1.2em;
      color: #FFF;
      list-style-type: "+ ";
      text-transform: uppercase; }
      #menu #menu-menu-principal li ul {
        max-height: 0;
        overflow: hidden;
        transition: all 0.25s; }
        #menu #menu-menu-principal li ul li {
          margin: 0.75em 2em;
          list-style-type: '↪ '; }
      #menu #menu-menu-principal li .submenu-on {
        max-height: 50vh; }
    #menu #menu-menu-principal .menu-item-has-children > a {
      cursor: pointer; }
      #menu #menu-menu-principal .menu-item-has-children > a::after {
        content: " ↓"; }
  #menu a {
    color: #FFF;
    transition: color 0.25s, border 0.5s, padding 0.35s;
    text-decoration: none; }
    #menu a:hover {
      color: #7cb1ea;
      text-decoration: underline; }
  #menu .box {
    margin-top: 3em; }
    #menu .box a {
      padding: 0.25em;
      border: 1px solid #FFF;
      border-left: none; }
      #menu .box a:hover {
        padding: 0.5em;
        border: 1px solid #7cb1ea;
        border-left: none; }
  @media screen and (max-width: 600px) {
    #menu {
      width: 100%;
      transition: transform 0.35s; } }

#menu.menu-off {
  transform: translateX(100%); }

#menu.menu-on {
  transform: translateX(0); }

.customer-menu-container {
  padding: 1em;
  margin-bottom: 1.75em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4; }
  .customer-menu-container .title {
    color: #7cb1ea;
    margin-bottom: 5px; }
  .customer-menu-container #menu-menu-espace-clients {
    border: 1px solid #7cb1ea;
    border-left: none; }
    .customer-menu-container #menu-menu-espace-clients li {
      margin: 1.2em;
      color: #FFF;
      list-style-type: square;
      text-transform: uppercase; }

.header {
  margin: 2em 0 1em;
  padding: 0 25%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .header {
      padding: 0 10%; } }
  .header .blog-title {
    margin: 0;
    display: inline-block;
    font-size: 3em; }
    @media screen and (max-width: 1024px) {
      .header .blog-title {
        padding: 0 10%; } }
    @media screen and (max-width: 600px) {
      .header .blog-title {
        margin: 0;
        padding: 0 5%;
        font-size: 2em; } }
  .header .blog-title::before {
    content: "(";
    color: #7cb1ea; }
  .header .blog-title::after {
    content: ")";
    color: #7cb1ea; }
  .header #sidebar {
    display: inline-block;
    padding: 1em;
    margin-right: 10px; }
    .header #sidebar .widgettitle {
      color: #888;
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 0.5em; }
    .header #sidebar ul {
      list-style-type: none; }
      .header #sidebar ul li {
        display: inline-block;
        margin-right: 0.5em; }
        .header #sidebar ul li a {
          font-family: 'Julius Sans One', 'sans-serif';
          font-size: 0.8rem;
          color: #000;
          font-weight: 600; }
          .header #sidebar ul li a:hover {
            color: #7cb1ea; }

.page {
  padding: 0 25%; }
  .page .post-container {
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 1024px) {
      .page .post-container {
        display: block;
        flex-basis: 66%; } }
    .page .post-container .post {
      flex-basis: 33.33%;
      margin-bottom: 1em;
      padding: 0.5em; }
      .page .post-container .post h2 {
        min-height: 3.5rem;
        margin: 1.5em 0 0.25em; }
        .page .post-container .post h2 a {
          font-size: 0.75em; }
          .page .post-container .post h2 a:hover {
            color: #7cb1ea;
            text-decoration: underline; }
      @media screen and (max-width: 1366px) {
        .page .post-container .post {
          flex-basis: 50%; } }
  .page h1 {
    flex-basis: 100%; }
  .page .post {
    margin-bottom: 3em;
    flex-basis: 70%;
    cursor: pointer; }
    .page .post p {
      font-size: 0.9em; }
    .page .post .thumbnail {
      width: 100%;
      height: 15vh;
      background-size: cover;
      display: block;
      overflow: hidden;
      transition: filter 3s, opacity 1s; }
      .page .post .thumbnail img {
        width: 100%;
        transition: filter 3s, opacity 1s; }
    .page .post .excerpt-link {
      text-decoration: none; }
    .page .post .read-more {
      text-align: center; }
      .page .post .read-more a {
        text-decoration: none;
        padding: 0.25em 0.5em;
        transition: all 0.25s;
        border-radius: 1px;
        display: inline-block; }
        .page .post .read-more a::before {
          content: "( ";
          color: #7cb1ea; }
        .page .post .read-more a::after {
          content: " )";
          color: #7cb1ea; }
        .page .post .read-more a:hover {
          color: #7cb1ea; }
          .page .post .read-more a:hover::before, .page .post .read-more a:hover::after {
            color: #000; }
  .page .post-container .post a img {
    opacity: 0.75;
    filter: grayscale(100%); }
  .page .post-container .post:hover a > img {
    opacity: 1;
    filter: grayscale(0%); }
  @media screen and (max-width: 1024px) {
    .page {
      padding: 0 10%; } }
  @media screen and (max-width: 600px) {
    .page {
      padding: 0 5%;
      display: block; }
      .page .post p {
        margin: 1em 0; } }

.single.post {
  margin-bottom: 5em; }
  .single.post h1 a {
    font-family: 'Julius Sans One', 'sans-serif';
    display: inline-block; }
    .single.post h1 a, .single.post h1 a::before, .single.post h1 a::after {
      transition: all 0.25s; }
    .single.post h1 a::before {
      content: "(";
      color: #7cb1ea; }
    .single.post h1 a::after {
      content: ")";
      color: #7cb1ea; }
    .single.post h1 a:hover {
      color: #7cb1ea; }
      .single.post h1 a:hover::before, .single.post h1 a:hover::after {
        color: #000; }
  @media screen and (max-width: 1024px) {
    .single.post h1 {
      padding: 0 0 0.5em 0; } }
  @media screen and (max-width: 1024px) {
    .single.post h1 {
      padding: 0 0 0.5em 0; } }
  .single.post .thumbnail {
    height: auto;
    display: none; }
  .single.post .post-header {
    margin: 3em 0 1em; }
  .single.post .excerpt {
    margin: 1em 0;
    padding-right: 1em;
    font-size: 1.2em;
    font-weight: 600; }
    .single.post .excerpt .date {
      font-size: 0.6em;
      opacity: 0.5; }
  .single.post p {
    margin: 1em 0; }
  .single.post ul {
    padding-left: 2em;
    list-style-type: none; }
    .single.post ul li {
      margin: 0.5em;
      font-size: 0.9em; }
      .single.post ul li::before {
        content: "+";
        color: #7cb1ea;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        font-size: 1.4em;
        position: relative;
        top: 0.1em; }
  .single.post .credit {
    margin-top: -1em;
    text-align: center; }
    .single.post .credit span {
      color: #888;
      font-size: 0.8em; }

.post-footer {
  margin-top: 2em;
  display: flex;
  justify-content: space-between; }
  .post-footer .back {
    display: inline-block;
    padding: 1em;
    margin-right: 10px;
    text-decoration: none;
    font-size: small;
    font-family: 'Julius Sans One', 'sans-serif'; }
    .post-footer .back:hover {
      text-decoration: underline; }
  .post-footer .top {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    font-size: small;
    font-family: 'Julius Sans One', 'sans-serif'; }
    .post-footer .top:hover {
      text-decoration: underline; }
  .post-footer #sidebar {
    display: inline-block;
    margin-right: 10px; }
    .post-footer #sidebar .widgettitle {
      color: #888;
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 0.5em; }
    .post-footer #sidebar ul {
      list-style-type: none;
      padding-left: 0; }
      .post-footer #sidebar ul li {
        display: inline-block;
        margin: 0 0.5em 0 0; }
        .post-footer #sidebar ul li a {
          font-family: 'Julius Sans One', 'sans-serif';
          font-size: 0.8rem;
          color: #000;
          font-weight: 600; }
          .post-footer #sidebar ul li a:hover {
            color: #7cb1ea; }
        .post-footer #sidebar ul li::before {
          content: none; }
    @media screen and (max-width: 768px) {
      .post-footer #sidebar {
        display: none; } }

.wp-caption-text {
  color: #888;
  text-align: center;
  margin: 0.25em 0 !important; }

.contact {
  text-align: center;
  padding: 0 20%;
  min-height: 80vh; }
  .contact .content {
    display: flex;
    flex-wrap: wrap; }
  .contact h1, .contact p {
    flex-basis: 100%; }
  .contact form {
    flex-basis: 50%;
    padding: 0 2em; }
    .contact form label {
      font-weight: 600; }
  .contact iframe {
    flex-basis: 50%; }
  .contact .send {
    text-align: left; }
    .contact .send div {
      display: inline; }
      .contact .send div input {
        color: #000;
        font-size: 1.1em;
        font-weight: 600;
        border: none;
        background: none;
        transition: all 0.25s;
        cursor: pointer;
        display: inline-block;
        position: relative; }
      .contact .send div::before {
        content: "( ";
        color: #7cb1ea;
        font-weight: 600; }
      .contact .send div::after {
        content: " )" !important;
        color: #7cb1ea;
        font-size: 1.1em;
        font-weight: 600; }
      .contact .send div .ajax-loader {
        display: none; }
      .contact .send div:hover input {
        color: #7cb1ea; }
      .contact .send div:hover::before, .contact .send div:hover::after {
        color: #000; }
  .contact .addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    display: none; }
  .contact .a2a_kit.a2a_kit_size_32.a2a_floating_style.a2a_vertical_style {
    display: none; }
  @media screen and (max-width: 1024px) {
    .contact {
      padding: 0 5%; }
      .contact form, .contact iframe {
        flex-basis: 40%; } }
  @media screen and (max-width: 600px) {
    .contact .content {
      display: block; }
    .contact form, .contact iframe {
      padding: 0 0.5em;
      width: 100%; }
      .contact form *, .contact iframe * {
        width: 100%; } }
  .contact + footer {
    position: fixed;
    bottom: 0; }

