@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,600|Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Montserrat', 'Sans-Serif'; }

*, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3 {
  font-family: 'Julius Sans One', 'sans-serif'; }

p {
  color: #333;
  margin: 1em 0; }

footer {
  padding: 0.25em;
  width: 100%;
  color: #333;
  text-align: center;
  font-size: 1.1em;
  text-align: center; }
  footer a {
    color: #000; }

.home {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center; }
  .home .content {
    font-size: 1em;
    color: #333;
    text-align: justify;
    margin: 2em 0;
    width: 33%;
    margin-left: auto;
    margin-right: auto; }
  .home .social-icon {
    margin: 4em 1em;
    width: 5em;
    height: 5em;
    cursor: pointer;
    transition: all 0.35s;
    filter: grayscale(100%) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0)); }
  .home .social-icon:hover {
    transform: scale(1.05);
    transform-origin: center;
    filter: grayscale(0%) drop-shadow(0px 5px 2px rgba(35, 55, 200, 0.25)); }
  .home footer {
    position: fixed;
    bottom: 0; }

.logo {
  margin: 0;
  font-size: 4.8em;
  font-weight: 200;
  font-family: 'Montserrat', monospace, sans-serif; }
  .logo sup, .logo span {
    font-weight: 500; }
  .logo a {
    text-decoration: none; }

.slogan {
  color: #888;
  font-size: 1.5em;
  font-style: italic;
  margin: 0.5em 0 2em; }

