@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,600|Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Montserrat', 'Sans-Serif'; }

*, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3 {
  font-family: 'Julius Sans One', 'sans-serif'; }
  h1 a, h2 a, h3 a {
    text-decoration: none; }

p {
  margin: 1em 0;
  color: #333;
  text-align: justify; }

footer {
  padding: 2em 0 0.25em;
  width: 100%;
  color: #888;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.35em; }
  footer a {
    color: #333; }
  footer a:hover {
    color: #000; }

.home {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center; }
  .home .content {
    font-size: 1em;
    color: #333;
    text-align: justify;
    width: 33%;
    margin: 2em auto 0; }
    @media screen and (max-width: 600px) {
      .home .content {
        margin: 1em auto;
        width: 75%; } }
  .home .social-icon {
    margin: 4em 1em;
    width: 5em;
    height: 5em;
    cursor: pointer;
    transition: all 0.35s;
    filter: grayscale(100%) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0)); }
    .home .social-icon:hover {
      transform: scale(1.05);
      transform-origin: center;
      filter: grayscale(0%) drop-shadow(0px 5px 2px rgba(35, 55, 200, 0.25)); }
    @media screen and (max-width: 600px) {
      .home .social-icon {
        margin: 0em 0.5em;
        width: 3em; } }
  .home footer {
    position: fixed;
    bottom: 0; }

.contact {
  text-align: center;
  padding: 0 20%; }
  .contact .content {
    display: flex;
    flex-wrap: wrap; }
  .contact h1 {
    flex-basis: 100%; }
  .contact p {
    flex-basis: 100%; }
  .contact form {
    flex-basis: 50%;
    padding: 0 2em; }
  .contact iframe {
    flex-basis: 50%; }
  @media screen and (max-width: 600px) {
    .contact {
      padding: 0 5%; }
      .contact .content {
        display: block; }
      .contact form, .contact iframe {
        padding: 0 0.5em;
        width: 100%; }
        .contact form *, .contact iframe * {
          width: 100%; } }

header {
  text-align: center; }
  header .logo {
    margin: 0;
    font-size: 3.8em;
    font-weight: 200;
    font-family: 'Montserrat', monospace, sans-serif;
    transform: translateX(-0.35em); }
    @media screen and (max-width: 600px) {
      header .logo {
        font-size: 1.8em;
        margin: 1.5em 0 0.5em; } }
    header .logo span {
      font-weight: 500; }
    header .logo sup {
      font-size: 2em; }
    header .logo a {
      text-decoration: none; }
  header .slogan {
    margin: 0.5em 0 2em;
    padding: 0 20%;
    color: #888;
    font-size: 1.5em;
    font-style: italic;
    text-align: center; }
    @media screen and (max-width: 600px) {
      header .slogan {
        font-size: 0.95em; } }

.home .logo {
  font-size: 4.8em; }

#burger, #close {
  top: 20px;
  right: 20px;
  width: 30px;
  height: 23px;
  cursor: pointer; }

#burger {
  position: fixed;
  z-index: 10;
  background: url("../img/burger.svg"); }

#close {
  position: absolute;
  z-index: 30;
  background: url("../img/close.svg"); }

#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  width: 25%;
  height: 100%;
  padding: 1em;
  background: #000;
  transition: transform 0.5s;
  text-align: left; }
  #menu ul li {
    margin: 1.5em;
    color: #FFF;
    list-style-type: square;
    text-transform: uppercase; }
    #menu ul li ul li {
      margin: 1em 2em;
      list-style-type: '↪ '; }
  #menu a {
    color: #FFF;
    text-decoration: none; }
    #menu a:hover {
      text-decoration: underline; }
  @media screen and (max-width: 600px) {
    #menu {
      width: 100%;
      transition: transform 0.35s; } }

#menu.menu-off {
  transform: translateX(100%); }

#menu.menu-on {
  transform: translateX(0); }

.blog-title {
  padding: 0 20%;
  font-size: 3em; }
  @media screen and (max-width: 600px) {
    .blog-title {
      margin: 0;
      padding: 0 5%;
      font-size: 2em; } }

.blog-title::before {
  content: "(";
  color: #FF8C00; }

.blog-title::after {
  content: ")";
  color: #FF8C00; }

.page {
  padding: 0 20%;
  display: flex;
  flex-wrap: wrap; }
  .page .content, .page .post-container {
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap; }
    .page .content .post, .page .post-container .post {
      flex-basis: 50%;
      margin-bottom: 1em;
      padding: 1em; }
  .page h1 {
    flex-basis: 100%; }
  .page .post {
    margin-bottom: 3em;
    flex-basis: 70%;
    cursor: pointer; }
    .page .post h2 {
      padding: 1em 0 0.5em;
      margin-bottom: 0.5em;
      color: #000;
      border-bottom: 7px solid #000; }
    .page .post img {
      width: 100%;
      transition: filter 3s, opacity 1s; }
    .page .post .read-more {
      text-align: center; }
      .page .post .read-more a {
        color: #FFF;
        text-decoration: none;
        padding: 0.25em 0.5em;
        background: #000;
        transition: all 0.25s;
        border-radius: 1px;
        display: inline-block; }
        .page .post .read-more a:hover {
          background: rgba(0, 0, 0, 0.85);
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.45)); }
  .page .post-container .post a img {
    opacity: 0.75;
    filter: grayscale(100%); }
  .page .post-container .post:hover a > img {
    opacity: 1;
    filter: grayscale(0%); }
  @media screen and (max-width: 600px) {
    .page {
      padding: 0 5%;
      display: block; }
      .page .post p {
        margin: 1em 0; } }

#sidebar {
  flex-basis: 24%;
  padding: 0 2%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  margin-left: 2%; }
  #sidebar h2 {
    margin: 1em 0 1.5em; }
  #sidebar ul {
    list-style-type: square; }
    #sidebar ul li {
      cursor: pointer;
      margin: 1em 0; }
      #sidebar ul li:hover {
        text-decoration: underline; }
  @media screen and (max-width: 600px) {
    #sidebar {
      display: none; } }

.single.post h1 {
  padding: 0; }

.single.post .excerpt {
  margin: 1em 0;
  font-size: 1.5em; }

.single.post p {
  margin: 1em 0; }

.contact p input[type="submit"] {
  color: #FFF;
  border: none;
  background: #000;
  padding: 0.25em 0.5em;
  border-radius: 1px;
  transition: all 0.25s;
  cursor: pointer; }
  .contact p input[type="submit"]:hover {
    background: rgba(0, 0, 0, 0.85);
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.45)); }

