.header {
    margin: 2em 0 1em;
    padding: 0 $padding-large;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1024px) {
        padding: 0 10%;
    }

    @media screen and (max-width: 768px), screen and (orientation: portrait) {
        flex-wrap: wrap;
    }

    .blog-title {
        margin: 0;
        display: inline-block;
        font-size: $font-l;
    
        @media screen and (max-width: 1024px) {
            padding: 0 10%;
        }
        
        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            margin: 0.5em 0;
            padding: 0 5%;
            // font-size: $font-mxl;
            flex-basis: 100%;
        }
    }
    
    .blog-title::before {
        content: "(";
        // color: $nac-color2;
        color: $kadra-blog;
    }
    
    .blog-title::after {
        content: ")";
        // color: $nac-color2;
        color: $kadra-blog;
    }
    
    #sidebar {
        display: inline-block;
        padding: 1em;
        // border: 1px solid $nac-color;
        // border-right: none;
        margin-right: 10px;

        
        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            flex-basis: 100%;
            text-align: center;
            

            // .aside {
            //     display: flex !important;
            //     flex-wrap: nowrap;
            // }
    
        }

        .widgettitle {
            // display: none;
            color: $nac-font-3;
            font-size: $font-s;
            font-weight: 600;
            margin-bottom: 0.5em;

            @media screen and (max-width: 768px), screen and (orientation: portrait) {
                margin: 0 1em 1em;
                font-size: $font-s;
                // flex-basis: 25%;
                // display: inline-block;
                // float: left;
                // margin: 0;

                &::after {
                    content: " : ";
                }
            }
        }
    
        ul {
            list-style-type: none;

            @media screen and (max-width: 768px), screen and (orientation: portrait) {
                // margin: 0 1em;
                // font-size: $font-l;
                // flex-basis: 60%;
            }
    
            li {
                display: inline-block;
                margin-right: 0.5em;
                
                a {
                    font-family: 'Julius Sans One', 'sans-serif';
                    font-size: $font-s;
                    color: $nac-font-1;
                    font-weight: 600;

                    @media screen and (max-width: 768px), screen and (orientation: portrait) {
                        margin: 0 1em;
                        font-size: $font-xs;
                    }

                    &:hover {
                        // font-weight: 600;
                        // color: $nac-color2;
                        color: $kadra-blog;
                    }
                }
            }
        }
    
        @media screen and (max-width: 1024px) {
            // padding: 0 20px;
        }
    
        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            // display: none;
        }
    }
}



.page {
    padding: 0 $padding-large;
    // display: flex;
    // flex-wrap: wrap;

    @media screen and (max-width: 768px), screen and (orientation: portrait) {
        padding: 0 10% !important;
    }

    .post-container {
        // flex-basis: 70%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3em;

        @media screen and (max-width: 1024px) {
            // display: block;
            // flex-basis: 66%;
        }

        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            display: block;
        }

        .post {
            flex-basis: 33.33%;
            margin-bottom: 1em;
            padding: 0.5em;
            box-sizing: border-box;

            h2 {
                min-height: 3.5rem;
                margin: 1.5em 0 0.25em;

                a {
                    font-size: $font-l;

                    &:hover {
                        // color: $nac-color;
                        color: $kadra-blog;
                        text-decoration: underline;
                    }
                }
            }


            // h2 a:hover {
            //     color: $nac-color;
            //     text-decoration: underline;
            // }

            @media screen and (max-width: 1366px) {
                flex-basis: 50%;
            }
        }
    }

    h1 {
        flex-basis: 100%;
    }

    .post {
        margin-bottom: 3em;
        flex-basis: 70%;
        cursor: pointer;

        // h2 {
        //     padding: 1em 0 0.5em;
        //     margin-bottom: 0.5em;
        //     color: $black;
        //     border-bottom: 5px solid $black;
        //     font-size: 0.95em;
        //     font-weight: 600;
        // }

        h2 {
            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }

        p {
            // font-style: italic;
            font-size: $font-m;
        }

        .thumbnail {
            width: 100%;
            height: 15vh;
            background-size: cover;
            display: block;
            overflow: hidden;
            transition: filter 3s, opacity 1s;

            @media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (orientation: landscape) {
                height: 35vh;
            }

            img {
                    width: 100%;
                    transition: filter 3s, opacity 1s;

                    
                }
        }
        .excerpt-link {
            text-decoration: none;
        }

        .read-more {
            text-align: center;

            a {
                // color: $white;
                text-decoration: none;
                padding: 0.25em 0.5em;
                // background: $black;
                transition: all 0.25s;
                border-radius: 1px;
                display: inline-block;

                @media screen and (max-width: 768px) {
                    font-size: $font-m;
                }

                &::before {
                    content: "( ";
                    // color: $nac-color2;
                    color: $kadra-blog;
                }
                
                &::after {
                    content: " )";
                    // color: $nac-color2;
                    color: $kadra-blog;
                }
    
                &:hover {
                    // color: $nac-color2;
                    color: $kadra-blog;
                    &::before, &::after {
                        color: $black;
                    }
                }
            }
        }

        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            &:last-child {
                margin-bottom: 8em;
            }
        }
    }


    .post-container .post a img {
        opacity: 0.75;
        filter: grayscale(100%);
    }

    .post-container .post:hover a > img {
        opacity: 1;
        filter: grayscale(0%);
    }

    @media screen and (max-width: 1024px) {
        padding: 0 10%;
        // display: flex;
        // width: 100%;
    }

    @media screen and (max-width: 768px), screen and (orientation: portrait) {
        padding: 0 5%;
        display: block;

        .post {
            p {
                margin: 1em 0;
            }
        }
    }
   
}

#pagination {
    // margin: 1em 0;
    margin: -2em 0 1em;
    min-height: 100px;
    font-size: $font-s;
    color: $nac-font-2;
    text-align: center;
    
    .pages {
        color: $nac-font-2;

        .current {
            font-weight: 600;
        }
    }

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            margin: 0.75em;

            a:hover {
                // color: $nac-color;
                color: $kadra-blog;
            }

            &.active a {
                color: $nac-font-1;
                font-weight: 600;
                // border: 1px solid $nac-color;
                // border-radius: 10em;
                // padding: 0.35em 0.65em;
                &::before {
                    content: "( ";
                    // color: $nac-color;
                    color: $kadra-blog;
                }
                
                &::after {
                    content: " )";
                    // color: $nac-color;
                    color: $kadra-blog;
                }
            }
        }
    }

    // .page-item.active {
    //     color: red;
    // }
}
