.contact {
    text-align: center;
    padding: 0 20%;
    min-height: 80vh;

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    h1, p {
        flex-basis: 100%;
    }

    form {
        flex-basis: 50%;
        padding: 0 2em;

        label {
            font-weight: 600;
        }
    }

    iframe {
        flex-basis: 50%;
    }

    .send {
        text-align: left;
        
        div {
            display: inline;

            input {
                color: $nac-font-1;
                // font-size: $font-l;
                font-weight: 600;
                border: none;
                background: none;
                transition: all 0.25s;
                cursor: pointer;
                display: inline-block;
                position:relative;
            }


            &::before {
                content: "( ";
                color: $nac-color;
                // $font-size: 1.1em;
                $font-size: $font-l;
                font-weight: 600;
            }
            
            &::after {
                content: " )" !important;
                color: $nac-color;
                $font-size: $font-l;
                font-weight: 600;
            }

            .ajax-loader {
                display: none;
            }

            &:hover {
                input {
                    color: $nac-color;
                }

                &::before, &::after {
                    color: $black;}
    
            }
        }
    }

    @include noshare;

    @media screen and (max-width: 1024px) {
        padding: 0 5%;

        form, iframe {
            flex-basis: 40%;
        }
    }

    @media screen and (max-width: 768px) {

        .content {
            display: block;
        }

        form, iframe {
            padding: 0 0.5em;
            width: 100%;

            * {
                width: 100%;
            }

            .send {
                width: 30%;
                text-align: center;
                margin: 1.5em auto;

                input {
                    width: auto;
                    font-size: $font-l;
                }
            }
        }
    }

    & + footer {
        position: fixed;
        // margin-top: 5em;
        bottom: 0;
    }
}
