.contact {
    text-align: center;
    padding: 0 20%;
    min-height: 80vh;

    .content {
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }

    // h1, p {
    //     flex-basis: 100%;
    // }
    // h1 {
    //     grid-column-start: 1;
    //     grid-column-end: 3;
    //     grid-row-start: 1;
    //     grid-row-end: 2;
    // }
    p {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    form {
        // flex-basis: 50%;
        padding: 0 2em 0 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        label {
            font-weight: 600;
        }

        input[type="text"], input[type="email"] {
            width: 100%;
        }

        textarea {
            width: 100%;
        }
    }

    iframe {
        // flex-basis: 50%;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        max-width: 100%;
        padding: 2em 0;
    }

    .send {
        text-align: left;
        
        div {
            display: inline;
            white-space: nowrap;

            input {
                color: $nac-font-1;
                font-size: $font-m;
                font-weight: 600;
                border: none;
                background: none;
                transition: all 0.25s;
                cursor: pointer;
                display: inline-block;
                position:relative;
            }

            &::before {
                content: "( ";
                // color: $nac-color;
                color: $kadra-logo;
                // $font-size: 1.1em;
                $font-size: $font-l;
                font-weight: 600;
            }
            
            &::after {
                content: " )" !important;
                // color: $nac-color;
                color: $kadra-logo;
                $font-size: $font-l;
                font-weight: 600;
            }

            .ajax-loader {
                display: none;
            }

            &:hover {
                input {
                    // color: $nac-color;
                    color: $kadra-logo;
                }

                &::before, &::after {
                    color: $black;}
    
            }
        }
    }

    @include noshare;

    @media screen and (max-width: 1024px) {
        padding: 0 5%;

        form, iframe {
            flex-basis: 40%;
        }
    }

    @media screen and (max-width: 768px), screen and (orientation: portrait) {

        .content {
            display: block;
        }

        form, iframe {
            padding: 0 0.5em;
            width: 100%;

            * {
                width: 100%;
            }

            .send {
                width: 30%;
                text-align: center;
                margin: 1.5em auto;

                input {
                    width: auto;
                    font-size: $font-l;
                }
            }
        }
    }

    & + footer {
        position: fixed;
        // margin-top: 5em;
        bottom: 0;
    }
}
