@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,600|Julius+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    color: $nac-font-1;
    font-family: 'Montserrat', 'Sans-Serif';
}

// *, *:before, *:after {
//     box-sizing: border-box;
// }

html {
    scroll-behavior: smooth;
    font-size: $font-root;
    width: 100vw !important;
}

body {
    width: 100vw !important;
    @media screen and (max-width: 1024px) {
        background: none;
    }
}

#wpadminbar .display-name {
    // color: $nac-color;
    color: $kadra-logo;
}

h1 {
    margin: 3em auto 1em;
    text-align: center;

    @media screen and (max-width: 1024px) {
        margin: 2em auto 1em;
    }
}

h2, h3, h4 {
    font-weight: 600;
    // color: $nac-color;
    color: $kadra-title;
    margin: 1.5em 0 0.75em;
}

h1, h2, h3, h4 {
    font-family: 'Julius Sans One', 'sans-serif';

    a {
        text-decoration: none;
    }
}

p {
    margin: 1em 0;
    color: $nac-font-2;
    text-align: justify;
    // line-height: 1.4em;

    a {
        font-weight: 600;

        &:hover {
            // color: $nac-color;
            color: $kadra-blog;
        }
    }
}

blockquote {
    // border-left: 7px double $nac-color;
    border-left: 7px double $kadra-blog;
    margin: 0.5em 1em 0 0.5em;
    padding: 0 1em;

    p {
        margin: 0;
        font-style: italic;
    }
}

.single.page {
    margin-bottom: 3em;
}

footer {
    // margin-top: 3em;
    padding: 0.5em 0 0.5em;
    width: 100%;
    max-width: 100%;
    background: $black;
    color: rgba(255,255,255, 0.75);
    text-align: center;
    font-size: $font-s;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.35em;
    position: fixed;
    bottom: 0;

    @media screen and (max-width: 768px), screen and (orientation: portrait) {
        font-size: $font-l;
    }

    // @media screen and (max-width: 768px), screen and (orientation: portrait) {
    //     position: static;
    // }

    a {
        color: rgba(255,255,255, 0.75);
        font-weight: 600;

        &:hover {
            // color: $nac-color;
            color: $kadra-blog;
        }
    }

    .copyright {
        color: $white;
        opacity: 0.5;
        font-size: 0.8em;
        transition: opacity 0.75s;
        font-weight: 300;
    
        &:hover {
            opacity: 1;
        }
    }
}

@keyframes pop {
    0% { transform: translateY(25vh) scale(0); }
    100% { transform: translateY(0) scale(1); }
}

.home {
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    @include noshare;

    @media screen and (max-width: 1366px) {
        padding-top: 0;
        margin-top: 5vh;
    }

    @media screen and (max-width: 768px), screen and (orientation: portrait) {
        width: 100%;
    }

    h1 {
        white-space: nowrap;

        @media screen and (min-height: 1024px) and (max-width: 768px) {
            // font-size: 3.8em !important;
            // margin: 1.5em 0 0.5em;
            margin: 2em auto 0 !important;
        }
    }

    .content {
        font-size: $font-m;
        color: $nac-font-2;
        text-align: justify;
        width: 33%;
        margin: 2em auto 0;

        @media screen and (max-width: 1024px) {
            margin: 1em auto;
            width: 75%;
        }

        @media screen and (min-height: 1024px) and (max-width: 768px) {
            // font-size: 3.8em !important;
            // margin: 1.5em 0 0.5em;
            margin: 0 auto 5em;
        }
    }

    .social {

        @media screen and (min-height: 1024px) and (max-width: 768px) {
            // font-size: 3.8em !important;
            // margin: 1.5em 0 0.5em;
            margin: 2em auto !important;
        }

        .social-icon {
            margin: 4em 1em;
            width: 3.5em;
            height: 3.5em;
            cursor: pointer;
            transition: all 0.85s;
            filter: saturate(0);

            transform: scale(0);
            animation-name: pop;
            animation-duration: 500ms;
            animation-fill-mode: forwards;

            &:hover {
                transform: scale(1.05);
                transform-origin: center;
                filter: saturate(7);
            }

            @media screen and (max-width: 1366px) {
                margin: 0 0.5em;
                width: 2.5em;
            }

            @media screen and (max-width: 768px), screen and (orientation: portrait) {
                margin: 60px 15px;
                width: 10%;
            }

            
        }
        a:nth-child(1) .social-icon {
            animation-delay: 1.5s;
        }
        a:nth-child(2) .social-icon {
            animation-delay: 1.7s;
        }
        a:nth-child(3) .social-icon {
            animation-delay: 1.8s;
        }
        a:nth-child(4) .social-icon {
            animation-delay: 2s;
        }
    }
    

    footer {
        position: fixed;
        bottom: 0;

        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            position: fixed !important;
            bottom: 0;
        }
    }
}

.content {
    .picture {
        width: 100%;
    }
    margin-bottom: 5em;
}

.a2a_svg svg {
    background: $black;

    &:hover {
        background: rgba(0,0,0,0.85);
    }
}

.addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    display: none;

    @media screen and (max-width: 768px), screen and (orientation: portrait) {
        display: block;
        flex-basis: 100%;
        text-align: center;
    }
}
.a2a_kit.a2a_floating_style {
    @media screen and (max-width: 768px), screen and (orientation: portrait) {
        display: none;
    }
}
.a2a_kit > * {
    transition: transform 0.25s, filter 0.25s;
}
.a2a_kit > *:hover {
    transform: scale(1.35) rotateZ(360deg);
    filter: drop-shadow(0 0 2px #000) invert(80%) ;
}
.a2a_floating_style a:hover .a2a_svg {
    opacity: 1 !important;
    z-index: 1000;
}

.simple.page {
    display: block;
    padding: 0 $padding-large;

    @include noshare;

    @media screen and (max-width: 1024px) {
        padding: 0 10% !important;
    }

    p {
        font-size: $font-m;
    }
    
    ul {
        // padding: 0.25em 0 0.25em 1em;
        padding: 0 0.25em;
        list-style-type: none;

        li {
            margin: 0.5em;
            color: $nac-font-2;
            font-size: $font-m;

            &::before {
                content: "+";
                // color: $nac-color;
                color: $kadra-blog;
                display: inline-block;
                width: 1em;
                // margin-left: -1em;
                font-size: $font-l;
                position: relative;
                top: 0.1em;
              }
        }
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes shake-simple {
10%, 90% {
    transform: translateX(-1px);
}

20%, 80% {
    transform: translateX(1px);
}

30%, 50%, 70% {
    transform: translateX(-1px);
}

40%, 60% {
    transform: translateX(1px);
}

100% {
    // color: $nac-color;
    color: $kadra-blog;
    }
}

ol {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
        display: inline;
        margin: 0.25%;
        flex-basis: 49.5%;
        padding: 0.75em 0.5em;
        // border: 1px solid $nac-color;
        border: 1px solid $kadra-blog;
        box-sizing: border-box;
        transition: all 0.75s;

        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            flex-basis: 100%;
            margin-bottom: 2em;
        }

        &:hover {
            border: 1px solid $nac-font-3;

            &::before {
                // color: $nac-color;
                color: $kadra-blog;
                transform: rotateZ(360deg);
            }
        }

        a {
            display: inline;
            font-size: $font-m;

            @media screen and (max-width: 768px), screen and (orientation: portrait) {
                font-size: $font-mxl;
            }

            &:hover {
                animation: shake-simple;
                animation-duration: 0.75s;
                animation-fill-mode: forwards;
                perspective: 1000px;
            }
        }

        &::before {
            content: "+";
            display: inline-block;
            margin: 5px 5px 5px 0;
            transition: all 0.75s;
        }
    }
}

.anchor-menu {
    margin: 1em 0;
    width: 100%;
    // border-bottom: 1px solid $nac-color;
    border-bottom: 1px solid $kadra-blog;

    p {
        display: inline;

        &::before {
            content: "Sommaire : ";
            font-weight: 600;
            font-family: 'Julius Sans One', 'sans-serif';
        }

        a {
            display: inline-block;
            margin: 0 0.5em;
            text-decoration: none;
            border-bottom: 4px solid transparent;
            font-family: 'Julius Sans One', 'sans-serif';
            font-weight: 300;

            &:hover {
                color: $nac-font-1;
                // border-bottom: 4px solid $nac-color;
                border-bottom: 4px solid $kadra-blog;
            }
        }
    }
}

.alignleft {
    float: left;
    margin: 0 10px 10px 0;


}

.alignright {
    float: right;
    margin: 0 0 10px 10px;
}

@media screen and (max-width: 768px), screen and (orientation: portrait) {

    .alignleft, .alignright {
        width: 95%;
        height: auto;
        float: none;
        display: inline-block;
        margin: 1em auto;
    }
    .wp-caption {
        width: 100% !important;
        text-align: center;

        .alignleft, .alignright {
            width: 100%;
            float: none;
            margin: 1em;

            img {
                
                display: inline-block;
                width: 100% !important;
            }
        }
    }
    
    // $font-logo: 10vw;
}


.aligncenter {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}
 
// #wpadminbar {
//     display: none;
// }
