@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,600|Julius+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    color: $nac-font-1;
    font-family: 'Montserrat', 'Sans-Serif';
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

body {
    // border-left: 20% solid red;
    // background: linear-gradient(90deg, gray, white, white, white, white,gray);
    background: linear-gradient(90deg, rgba(black, 0.35), white, white, white, white, rgba(black, 0.35));
    // background: linear-gradient(90deg, rgba(black, 0.05) 0 20%, white 20% 80%, rgba(black, 0.05) 80% 100%);
}

#wpadminbar .display-name {
    color: $nac-color;
}

h1 {
    margin: 2em auto 1em;
}

h1, h2, h3, h4 {
    font-family: 'Julius Sans One', 'sans-serif';

    a {
        text-decoration: none;
    }
}

p {
    margin: 1em 0;
    color: $nac-font-2;
    text-align: justify;
    line-height: 1.4em;

    a {
        font-weight: 600;

        &:hover {
            color: $nac-color;
        }
    }
}

footer {
    // margin-top: 5em;
    padding: 1.5em 0 0.5em;
    width: 100%;
    // color: $nac-font-3;
    background: $black;
    // color: $white;
    color: rgba(255,255,255, 0.75);
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 1px;
    line-height: 1.35em;
    position: fixed;
    bottom: 0;

    a {
        // color: $nac-font-2;
        color: rgba(255,255,255, 0.75);

        &:hover {
            // color: $nac-font-1;
            color: $nac-color;
        }
    }

    .copyright {
        color: $white;
        opacity: 0.5;
        font-size: 0.8em;
        transition: opacity 0.75s;
    
        &:hover {
            opacity: 1;
        }
    }
}

@keyframes pop {
    0% { transform: translateY(25vh) scale(0); }
    100% { transform: translateY(0) scale(1); }
}

.home {
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    @include noshare;

    @media screen and (max-width: 1366px) {
        padding-top: 0;
        margin-top: 5vh;
    }

    .content {
        font-size: 1em;
        color: $nac-font-2;
        text-align: justify;
        width: 33%;
        margin: 2em auto 0;

        @media screen and (max-width: 1024px) {
            margin: 1em auto;
            width: 75%;
        }
    }

    .social {
        .social-icon {
            margin: 4em 1em;
            width: 4em;
            height: 4em;
            cursor: pointer;
            transition: all 0.35s;
            filter: grayscale(100%) drop-shadow(0px 0px 0px rgba(0,0,0,0));

            transform: scale(0);
            animation-name: pop;
            animation-duration: 500ms;
            animation-fill-mode: forwards;

            &:hover {
                transform: scale(1.05);
                transform-origin: center;
                filter: grayscale(0%) drop-shadow(0px 5px 2px rgba(35,55,200,0.25));
            }

            @media screen and (max-width: 1366px) {
                margin: 0 0.5em;
                width: 3em;
            }
        }
        a:nth-child(1) .social-icon {
            animation-delay: 1.5s;
        }
        a:nth-child(2) .social-icon {
            animation-delay: 1.7s;
        }
        a:nth-child(3) .social-icon {
            animation-delay: 1.8s;
        }
        a:nth-child(4) .social-icon {
            animation-delay: 2s;
        }
    }
    

    footer {
        position: fixed;
        bottom: 0;

        // .copyright {
        //     color: rgba(255,255,255, 0.75);
        //     display: inline;
        // }
    }
}

.content {
    img {
        width: 100%;
    }
    margin-bottom: 5em;
}

.a2a_svg svg {
    background: $black;

    &:hover {
        background: rgba(0,0,0,0.85);
    }
}

.addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    display: none;

    @media screen and (max-width: 600px) {
        display: block;
        flex-basis: 100%;
        text-align: center;
    }
}
.a2a_kit > * {
    transition: transform 0.25s, filter 0.25s;
}
.a2a_kit > *:hover {
    transform: scale(1.35) rotateZ(360deg);
    filter: drop-shadow(0 0 2px #000) invert(80%) ;
}
.a2a_floating_style a:hover .a2a_svg {
    opacity: 1 !important;
    z-index: 1000;
}

.simple.page {
    // @include noshare;
    display: block;
    padding: 0 $padding-large;

    @include noshare;

    h2, h3, h4 {
        font-weight: 600;
        color: $nac-color;
        margin-top: 1.5em;
    }

    ul {
        padding-left: 2em;
        list-style-type: none;

        li {
            margin: 0.5em;

            &::before {
                content: "+";
                color: $nac-color;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
              }
        }
    }
}

ol {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
        display: inline-block;
        flex-basis: 50%;
        padding: 1.5em 0.5em;
        background: $nac-color;
        border: 1px solid white;

        a {
            display: inline-block;
            // color: $nac-color;
            color: $white;
        }

        &::before {
            content: "> ";
            color: $white;
        }
    }
}

.anchor-menu {
    margin: 1em 0;
    width: 100%;
    // padding-bottom: 5px;
    border-bottom: 1px solid $nac-color;

    p {
        display: inline;

        &::before {
            content: "Sommaire : ";
        }
        // display: flex;

        a {
            display: inline-block;
            margin: 0 0.5em;
            text-decoration: none;
            border-bottom: 4px solid transparent;

            &:hover {
                color: $nac-font-1;
                border-bottom: 4px solid $nac-color;
                
            }
        }
    }
}
    