@keyframes show {
    0% {transform: rotateY(0)}
    100% {transform: rotateY(360deg)}
}
@keyframes sliderot {
    0% { transform: translateX(-100vw) rotateZ(-720deg); }
    50% { transform: translateX(0); }
    100% { transform: translateX(0) rotateZ(0deg); }
}
@keyframes slidefromleft {
    0% { transform: translateX(-50vw); }
    100% { transform: translateX(0); }
}
@keyframes slidefromright {
    0% { transform: translateX(50vw); }
    100% { transform: translateX(0); }
}
@keyframes slidefromtop {
    0% { opacity: 0; transform: translateY(-50vh); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes appearsfromleft {
    0% { opacity: 0; transform: translateX(-10vw); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes colorchange {
    0% { color: inherit; }
    100% { color: $kadra-logo;}
}


header {
    text-align: center;

    @media screen and (max-width: 768px) and (orientation: portrait) {
        margin-top: 10em;
    }

    @media screen and (max-width: 768px), screen and (orientation: portrait) {
        margin-top: 0;
    }
    
    .logo {
        margin: 0;
        transform: translateX(-0.35em);
        font-size: $font-logo;
        font-weight: 200;
        font-family: 'Montserrat', monospace, sans-serif;

        @media screen and (max-width: 768px) and (orientation: portrait) {
            font-size: $font-l;
        }

        #plus, #new, #access, #compta {
            display: inline-block;
        }

        #plus {
            transform: translateX(-100vw);
            font-size: 2em;
            animation-name: sliderot;
            animation-duration: 600ms;
            animation-delay: 0.85s;
            animation-fill-mode: forwards;
            transition: color 0.75s;
            transition-delay: 0.15s;
        }

        #new {
            transform: translateX(70vw);
            animation-name: slidefromright;
            animation-duration: 500ms;
            animation-delay: 0.1s;
            animation-fill-mode: forwards;
            transition: color 0.75s;
            transition-delay: 1.2s;
        }

        #access {
            transform: translateY(-50vh);
            font-weight: 500;
            animation-name: slidefromtop;
            animation-duration: 400ms;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
            transition: color 0.75s;
            transition-delay: 0.85s
        }

        #compta {
            transform: translateX(50vw);
            animation-name: slidefromleft;
            animation-duration: 300ms;
            animation-delay: 0.35s;
            animation-fill-mode: forwards;
            transition: color 0.75s;
            transition-delay: 1.2s;
        }
    
        a {
            text-decoration: none;

            &:hover * {
                transition-delay: 0.5s;
                color: $kadra-logo;
            }
        }
    }

    .slogan {
        margin: 0;
        padding: 0 20%;
        color: $kadra-slogan;
        font-size: 1rem;
        font-style: italic;
        text-align: center;
        opacity: 0;
        transform: translateX(-10vw);
        animation-name: appearsfromleft;
        animation-duration: 600ms;
        animation-delay: 0.85s;
        animation-fill-mode: forwards;

        @media screen and (max-width: 1366px) {
            font-size: 1.2em;
        }

        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            font-size: $font-xs;
        }
    }
}

.home {

    @media screen and (max-width: 1366px) {
        padding-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    @media screen and (max-width: 768px), screen and (orientation: portrait) {
        display: block;
        margin-top: 5vh;
    }

    .logo {
        font-size: 4.8em;
        margin: 1em 0 0;

        @media screen and (max-width: 1366px) {
            font-size: 3.75em;
            margin-top: 0;
        }
    
        @media screen and (max-width: 1024px) {
            font-size: $font-xl;
            margin: 0;
        }

        @media screen and (max-width: 768px) {
            margin: 0;
            font-size: $font-xl;

            * {
                font-size: $font-xl;
            }
        }

        @media screen and (max-width: 480px) {
            margin: 0;
            font-size: $font-l;

            * {
                font-size: $font-l;
            }
        }
    }
}

.home {
    h1 {
        margin: 2em auto 0;

        @media screen and (max-width: 1366px) {
            margin: 1em auto 0;
        }

        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            font-size: $font-l;
            margin: 2em 0 1em;
        }
    }

    .content p {
        font-size: 1.3em;
        line-height: 1.2em;

        @media screen and (max-width: 1366px) {
            font-size: 1.1em;
            line-height: 1.2em;
        }

        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            font-size: $font-m;
        }
    }
}
