@keyframes show {
    0% {transform: rotateY(0)}
    100% {transform: rotateY(360deg)}
}

@keyframes sliderot {
    0% { transform: translateX(-100vw) rotateZ(-720deg); }
    50% { transform: translateX(0); }
    100% { transform: translateX(0) rotateZ(0deg); }
}
@keyframes slidefromleft {
    0% { transform: translateX(-50vw); }
    100% { transform: translateX(0); }
}
@keyframes slidefromright {
    0% { transform: translateX(50vw); }
    100% { transform: translateX(0); }
}
@keyframes slidefromtop {
    0% { opacity: 0; transform: translateY(-50vh); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes appearsfromleft {
    0% { opacity: 0; transform: translateX(-10vw); }
    100% { opacity: 1; transform: translateY(0); }
}


header {
    text-align: center;
    
    .logo {
        margin: 0;
        font-size: 3.8em;
        font-weight: 200;
        font-family: 'Montserrat', monospace, sans-serif;
        transform: translateX(-0.35em);

        @media screen and (max-width: 600px) {
            font-size: 1.8em;
            margin: 1.5em 0 0.5em;
        }

        #plus, #new, #access, #compta {
            display: inline-block;
        }

        #plus {
            // display: inline-block;
            transform: translateX(-100vw);
            font-size: 2em;
            animation-name: sliderot;
            animation-duration: 600ms;
            animation-delay: 0.85s;
            animation-fill-mode: forwards;
            transition: color 0.75s;
            transition-delay: 0.25s;
        }

        #new {
            transform: translateX(70vw);
            animation-name: slidefromright;
            animation-duration: 500ms;
            animation-delay: 0.1s;
            animation-fill-mode: forwards;
            transition: color 0.75s;
            transition-delay: 1.75s;
        }

        #access {
            transform: translateY(-50vh);
            font-weight: 500;
            animation-name: slidefromtop;
            animation-duration: 400ms;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
            transition: color 0.75s;
            transition-delay: 1.25s
        }

        #compta {
            transform: translateX(50vw);
            animation-name: slidefromleft;
            animation-duration: 300ms;
            animation-delay: 0.35s;
            animation-fill-mode: forwards;
            transition: color 0.75s;
            transition-delay: 1.75s;
        }
    
        a {
            text-decoration: none;

            &:hover * {
                color: #05b6bc;
            }
        }
    }
    
    .slogan {
        margin: 0.5em 0 2em;
        padding: 0 20%;
        color: $nac-font-3;
        font-size: 1.5em;
        font-style: italic;
        text-align: center;
        opacity: 0;
        transform: translateX(-10vw);
        animation-name: appearsfromleft;
        animation-duration: 600ms;
        animation-delay: 0.85s;
        animation-fill-mode: forwards;

        @media screen and (max-width: 1366px) {
            font-size: 1.2em;
        }

        @media screen and (max-width: 600px) {
            font-size: 0.95em;
        }
    }
}



.home {

    @media screen and (max-width: 1366px) {
        // display: block;
        padding-top: 0;
        margin-top: -10vh;
    }

    @media screen and (max-width: 600px) {
        display: block;
        margin-top: 5vh;
        // padding-top: 0;
    }

    .logo {
        font-size: 4.8em;

        // animation-name: show;
        // animation-duration: 600ms;
        // // animation-delay: 2.08s;
        // animation-fill-mode: forwards;

        @media screen and (max-width: 1366px) {
            font-size: 3.75em;
        }
    
        @media screen and (max-width: 1024px) {
            font-size: 3.5em;
            margin: 0;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.8em;
            margin: 0;
        }
    }
}

