.single.post {
    margin-bottom: 5em;
    
    h1 {
        // padding: 0 0 1.5em 0;
        a {
            font-family: 'Julius Sans One', 'sans-serif';
            // transition: all 0.25s;
            display: inline-block;

            &, &::before, &::after {
                transition: all 0.25s;
            }

            &::before {
                content: "(";
                color: $nac-color;
            }
            
            &::after {
                content: ")";
                color: $nac-color;
            }

            &:hover {
                color: $nac-color;
                // text-decoration: underline;
                // transform: rotateY(360deg);
                &::before, &::after {
                    color: $black;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            padding: 0 0 0.5em 0;
        }
        @media screen and (max-width: 1024px) {
            padding: 0 0 0.5em 0;
        }
    }

    .thumbnail {
        height: auto;
        display: none;
    }

    .post-header {
        margin: 3em 0 1em;
        // display: flex;
        // align-items: center;

        // @media screen and (max-width: 1024px) {
        //     display: block;
        // }

        // .thumbnail {
        //     flex-basis: 66.66%;
        // }
    }

    .excerpt {
        // flex-basis: 33.33%;
        margin: 1em 0;
        padding-right: 1em;
        font-size: $font-l;
        // font-style: italic;
        font-weight: 600;
        // text-align: right;

        .date {
            font-size: $font-xs;
            opacity: 0.5; }
    }

    p {
        margin: 1em 0;
    }

    ul {
        padding-left: 2em;
        list-style-type: none;

        li {
            margin: 0.5em;
            font-size: $font-m;

            &::before {
                content: "+";
                color: $nac-color;
                // font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
                font-size: $font-l;
                position: relative;
                top: 0.1em;
              }
        }
    }

    .credit {
        margin-top: -1em;
        // margin-top: 1em;
        // padding-top: 10px;
        // border-top: 1px solid $nac-font-3;
        text-align: center;

        span {
            color: $nac-font-3;
            font-size: $font-s;
        }
    }
}

.post-footer {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    // justify-content: end;

    .back {
        display: inline-block;
        padding: 1em;
        margin-right: 10px;
        text-decoration: none;
        font-size: $font-s;
        font-family: 'Julius Sans One', 'sans-serif';

        &:hover {
            text-decoration: underline;
        }
    }

    .top {
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        font-size: $font-xs;
        font-family: 'Julius Sans One', 'sans-serif';

        &:hover {
            text-decoration: underline;
        }
    }

    #sidebar {
        display: inline-block;
        // padding: 1em;
        // border: 1px solid $nac-color;
        // border-right: none;
        margin-right: 10px;
    
        @include cat;
    
        @media screen and (max-width: 1024px) {
            // padding: 0 20px;
        }
    
        @media screen and (max-width: 768px), screen and (orientation: portrait) {
            // display: none;
        }
    }
}

.wp-caption-text {
    color: $nac-font-3;
    text-align: center;
    margin: 0.25em 0 !important;
}
