.single.post {
    h1 {
        // padding: 0 0 1.5em 0;

        @media screen and (max-width: 1024px) {
            padding: 0 0 0.5em 0;
        }
        @media screen and (max-width: 1024px) {
            padding: 0 0 0.5em 0;
        }
    }

    .post-header {
        // display: flex;
        // align-items: center;

        // @media screen and (max-width: 1024px) {
        //     display: block;
        // }

        // .thumbnail {
        //     flex-basis: 66.66%;
        // }
    }

    .excerpt {
        // flex-basis: 33.33%;
        margin: 1em 0;
        padding-right: 1em;
        font-size: 1.5em;
        font-style: italic;
        // text-align: right;

        .date {
            font-size: 0.6em;
            opacity: 0.5; }
    }

    p {
        margin: 1em 0;
    }

    .credit {
        margin-top: 2em;
        padding-top: 10px;
        border-top: 1px solid $nac-font-3;
        text-align: right;

        span {
            color: $nac-font-3;
        }
    }
}
