$nac-font-1: #000;
$nac-font-2: #333;
$nac-font-3: #888;

$white: #FFF;
$black: #000;

$padding-small: 20%;
$padding-large: 25%;

// $nac-color: #05b6bc;
// $nac-color: #c39f76;
// $nac-color:#489bbf;
$nac-color:#7cb1ea;
$nac-color2: #d81566;
// D81566 ???

$font-root: 16px;
$font-xs: 0.7rem;
$font-s: 0.8rem;
$font-m: 0.9rem;
$font-l: 1.3rem;
$font-mxl: 2.1rem;
$font-xl: 3rem;
$font-logo: 3.5rem;

@media screen and (max-width: 768px), screen and (orientation: portrait) {
    $font-root: large;
    // $font-logo: 10vw;
}

@mixin cat {
    .widgettitle {
        // display: none;
        color: $nac-font-3;
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            display: inline-block;
            margin: 0 0.5em 0 0;
            a {
                font-family: 'Julius Sans One', 'sans-serif';
                font-size: 0.8rem;
                color: $nac-font-1;
                font-weight: 600;

                &:hover {
                    // font-weight: 600;
                    color: $nac-color;
                }
            }
            &::before {
                content: none;
                // display: inline-block;
                // margin: 5px;
                // transition: all 0.75s;
            }
        }
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}
